
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: bisque;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.icon {
    fill: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1;
}

.box-card {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    text-align: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 2px gray;
}

.number {
    font-size: 40px;
    margin: 50px 0 80px;
}

.box-card::before,
.box-card::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: beige;
    opacity: 0.2;
}

.box-card::after {
    top: -90px;
    right: -150px;
    transition: top 0.5s ease-in-out;
}

.box-card::before {
    right: -60px;
    top: 40%;
    transition: right 0.5s ease-in-out;
}

.box-card:hover:before {
    right: 60%;
    opacity: 0.4;
}

.box-card:hover:after {
    top: 100%;
}

.info-card::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    bottom: 0px;
    left: 0;
    background-color: burlywood;
    transition: width 0.8s linear;
}

.box-card:hover
.info-card::after {
    width: 100%;
}

.bg-color-1:nth-child(3n+1) {
    background-color: #f7e8b1;
background-image: linear-gradient(90deg, #f7e8b1 0%, #f131b7 100%);
}

.bg-color-2:nth-child(3n-1) {
    background-color: #0093E9;
    background-image: linear-gradient(270deg, #0093E9 0%, #80D0C7 50%, #c9f0f9 100%);   
}

.bg-color-3:nth-child(3n) {
    background-color: #08AEEA;
    background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 74%);
}


